* {
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
}

a:hover {
  border-bottom: 1px solid #fdc2b3;
  padding-bottom: 15px;
}

.logo {
  height: 70px;
  margin-right: 50px;
} 

.logo1:hover {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

/*-----------------------NAV----------------------------*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
  margin: 10px 0px 20px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid black;
}


.logobox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: 70px;
  border: none;
}

.dropdown {
  display: none;
}

.cta {
  margin: 0;
  border: 1px solid #fdc2b3;
  padding: 10px;
}
/*-----------------------HOMEPAGE----------------------------*/
.homepage {
  width: 100%;
  /* border: 1px solid black; */
  margin: 30px 0;
}
/*-----------------------LOGIN/SIGNUP----------------------------*/
.signform {
  background-color: white;
  height: 450px;
  width: 50%;   
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
 
}

input[type=text], select, input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  font-size: 16px;
}

.signup, .login {
  display: flex;
  /* border: 1px solid black; */
  margin: 100px 150px 0px 150px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.formpicbox {
  width: 50%;
}

.formpic {
  width: 100%;
  /* height: 5 */
  /* border: 1px solid black; */
  margin: 0px;
}




/*-----------------------BIGDISPLAY----------------------------*/
.bigdisplay {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  margin: 0px 150px 0px 150px;
}
.bigimg {
  height: 100%;
  width: 100%;
}

.displayimg {
  width: 60%;
  height: 600px;
  margin: 0;
  background-color: rosybrown;
}

.adbox {
  width: 37%;
  height: 600px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  margin: 100px 50px 20px 50px;
}

.popcolor1 {
  color: #9e7165;
  font-size: 40px;
}
.popcolor3 {
  text-transform: uppercase;
  color: #9e7165;
  text-decoration: underline;
}

.box1 {
  height: 70%;
  background-color: #fff4f0;
  margin: 0;
  text-align: center;
}

.signupbtn {
  padding: 5px;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 15px;
}

.box2 {
  margin: 0;
  height: 25%;
  background-color: #fdc2b3;
  text-align: center;
}

.spoof {
  height: 50px;
}

.shoutout {
  color: white;
  line-height: 50px;
  font-size: 20px;
}

.phone1 {
  width: 300px;
  background-color: transparent;
  z-index:4;
  position: absolute;
}
.phone2 {
  width: 200px;
  height: 400px;
  margin: 95px 0px 0px 50px;
  z-index:3;
  position: absolute;
}
.iphone {
  z-index: 10;
  position: absolute;
  border: 1px solid black;
  margin: 6% 0 0 63%;
  /* display: none; */
}

.signbox {
  display: none;
}
/*-----------------------REVIEWS----------------------------*/
.reviews{
  margin: 50px 150px 20px 150px;
}

.reviewrow {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 20px 0px;
  padding: 20px;
}
.reviewpic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

/*-----------------------INSPOOUTFIT----------------------------*/
.inspooutfit {
  /* border: 1px solid black; */
  margin: 100px 150px 0px 150px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  padding: 0px;
}

.inspopicbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inspopics {
  width: 290px;
  height: 400px;
  margin: 30px 0px;
}


/*-----------------------OUTFITDISPLAY----------------------------*/
.outfitdisplay {
  margin: 0px 150px 0px 150px;
}

.itemsnav {
  background: #fff4f0;
  font-weight: bold;
  width:100%;
  height: 30px;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outfits {
  border: 1px solid black;
  width:100%;
  height: 300px;
  margin: 15px 0;
}

.uploader {
  height: 20%;
  /* border: 1px solid black; */
}

.displaycloudimg {
  /* border: 1px solid black; */
  height: 80%;
  padding: 0;
}

.cloudimg {
  /* border: 1px solid black; */
  height: 90%;
}

/*-----------------------RESPONSIVENESS----------------------------*/


@media only screen and (max-width: 770px) {
  
  .homepage {
    margin: 10px 0px;
  }
  .outfitdisplay {
    margin: 10px 20px
  }
  .dropnav {
    display: block;
  }
  .navtest {
    display: none;
  }
  .btnbox {
    display: none;
  }
  .itemsnav {
    display: none;
  }
  .nav {
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
    /* width: 95%; */
  }
  .logo {
    margin: 0;
    height: 50px;
  }
  .bigdisplay {
    margin: 0px 20px;
    display: block;
  }
  .bigimg {
    width: 100%;
    height: 100%;
  }
  .box2 {
    display: none;
  }
  .box1 {
    width: 100%;
    height: 300px;
  }
  .title {
    font-size: 30px;
    margin: 30px 50px 20px 50px;
  }
  .popcolor1 {
    color: #fdc2b3;
    font-size: 30px;
  }
  .popcolor2 {
    color: #9e7165;
    font-size: 30px;
  }
  .adbox {
    width: 100%;
    height: 320px;
  }
  .displayimg {
    width: 100%;
    height: 270px;
    display: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .menuicon {
    width: 30px;
  }

  .inspooutfit {
    margin: 10px 20px;
  }
  .inspopics {
    width: 160px;
    height: 200px;
    margin-top: 10px;
  }

  .iphone {
    display: none;
  }
  
}


