* {
  font-size: 16px;
}

.logo {
  height: 70px;
  margin-right: 50px;
} 

/*-----------------------NAV----------------------------*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  margin: 10px 0px 20px 0px;
  
}

.links {
  margin-right: 20px;
}

.logobox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: 70px;
  margin-left: 20px;
}

/*-----------------------HOMEPAGE----------------------------*/
.bigimgbox {
  width: 95%;
  border: solid black 1px;
  text-align: center;
  margin: 0 auto;
}

.bigimg {
  width: 100%;
}